@{
    ViewData["Title"] = "Шифр Виженера";
}
<div class="container shadow p-3 mb-5 bg-white rounded d-flex flex-column">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p class="mb-1">Шифр Виженера — метод полиалфавитного шифрования буквенного текста с использованием ключевого слова.</p>
    <p class="mb-1">Суть шифрования основыается на различных последовательностях шифров Цезаря с различными значениями сдвига.</p>
    <p class="mb-1">Данный проект позволяет производить шифрование и дешифрование текста введенного с клавиатуры или написанного в файле. Имеется возможность сохранить результат в отдельный файл.</p>
    <blockquote class="blockquote">
        <footer class="blockquote-footer">Проект выполнен <cite title="Source Title">Траковым Даниилом</cite></footer>
    </blockquote>
</div>
